@import './../../OrderListVariables.scss';

.column {
    height: $cell-height;
    line-height: $cell-height;

    min-width: 120px;

    margin: 0 $horizontal-spacing 0 $horizontal-spacing;
}

.titleCell {
    flex-grow: 1;
}

.pointCell {
    flex-grow: 2;
}

.select {
    width: 100%;
}

.selectedOption {
    background-color: rgb(203, 225, 255);
}