@import './../../OrderListVariables.scss';

.column {
    height: $cell-height;
    line-height: $cell-height;

    min-width: $min-cell-width;

    margin: 0 $horizontal-spacing 0 $horizontal-spacing;
}

.titleCell {
    flex-grow: 1;
}

.pointCell {
    width: 100%;
    flex-grow: 2;
}

.select {
    width: 100%;
}

.selectOption.selected {
    background-color: rgb(219, 231, 251) !important;
}