@import './OrderListVariables.scss';
@import './../../AppVariables.scss';

.orderList {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: fit-content;

    overflow: scroll;

    margin: 5px;
}

.listHeaders {
    flex: 0 0 auto;
    
    display: flex;
    flex-direction: row;
    
    min-width: fit-content;

    margin: 0 0 $cell-spacing 0;
    padding: 0 $horizontal-spacing 0 $horizontal-spacing;

    border: 1px solid $background-color;
    border-radius: $roundness;

    background-color: white;
}

.headerItem {
    flex: 0 0 auto;
    height: $cell-height;
    line-height: $cell-height;

    min-width: $min-cell-width;

    margin: 0 $horizontal-spacing 0 $horizontal-spacing;

    text-align: center;
    font-weight: bold;
}

.titleHeader {
    flex-grow: 1;
}

.pointHeader {
    flex-grow: 2;
}

.empty {
    $empty-width: calc(#{$min-cell-width} * 3 + #{$horizontal-spacing} * 2);

    flex: 1 0 $empty-width;
    min-width: $empty-width;
}